<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />

    <title>{#g_szTitle#}</title>

    <base href="{$smarty.const.PROJECT_URL}" />
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="_design-01/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>	

    <script>
$(document).ready(function() {
  $('.a_search_close').on('click', function(e) {
    $('.a_search_container').hide();
  });

  $('.trigger_search').on('click', function(e) {
    $.ajax({
      url: 'ajax_search.php',
      method: 'post',
      data: { search: $('.data_search').val() }
    }).done(function(data) {
      $('.a_table_search').find('tbody').html('');

      for (var reportIndex in data) {
        var item = $($('.template_search').html());

        for (var reportProperty in data[reportIndex]) {
          item.find('.data_' + reportProperty).each(function(index, element) {
            $(element).html(data[reportIndex][reportProperty]);
          });
        }

        item.find('.data_color_selector_payment').each(function(index, element) {
          switch (data[reportIndex]['payment']) {
            case 'OK': $(element).addClass('badge-success'); break;
            case 'Paid': $(element).addClass('badge-success'); break;
		    case 'Ammended': $(element).addClass('badge-success'); break;
            case 'Pending': $(element).addClass('badge-warning'); break;
            case 'Cancelled': $(element).addClass('badge-danger'); break;
            default: $(element).addClass('bg-white');
          }
        });

        $('.a_table_search').find('tbody').append(item.find('tr'));
      }

      $('.a_search_container').show();
    });
  });
});
    </script>
  </head>
  <body>
	 <nav class="navbar navbar-expand-md bg-light navbar-light shadow-sm px-sm-0">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-plane"></i><b> rishi2</b></a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent"> <span class="navbar-toggler-icon"></span> </button>
		  <div class="collapse navbar-collapse justify-content-between" id="navbar2SupportedContent">
			<ul class="navbar-nav">
			  <li class="nav-item mx-2 active">
				<a class="nav-link" href="/">Home</a>
			  </li>
			  <li class="nav-item mx-2">
				<a class="nav-link" href="/daily.php">Daily</a>
			  </li>
			  <li class="nav-item mx-2">
				<a class="nav-link" href="/stats.php">Stats</a>
			  </li>
			  <li class="nav-item mx-2">
				<a class="nav-link" href="levels.php">Levels</a>
			  </li>
			  <li class="nav-item mx-2">
				<a class="nav-link" href="monthly.php">Monthly</a>
			  </li>
			  <li class="nav-item dropdown mx-2">
				<a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
				  <a class="dropdown-item" href="daily-without-terminal.html">Daily without terminal</a>
				  <a class="dropdown-item" href="price.html">Price</a>
				  <a class="dropdown-item" href="products.html">Products</a>
				  <a class="dropdown-item" href="xtrapayments.html">Extra payments</a>
				  <a class="dropdown-item" href="alerts.html">Alerts</a>
				  <a class="dropdown-item" href="log.html">Logs</a>
				</div>
			  </li>
			</ul>
			<div class="d-inline-flex">
				<form class="form-inline my-2 my-lg-0 mx-2" onsubmit="return false;">
					<div class="input-group">
					  <input class="form-control data_search" type="text" placeholder="Search">
					  <div class="input-group-append">
						  <button class="btn btn-outline-secondary trigger_search">Search</button>
					  </div>
					</div>
				</form>
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-plus-circle"></i></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-cog"></i></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-sign-out-alt"></i></a>
				  </li>
				</ul>
			</div>
		  </div>
		</div>
	</nav>

    <div id="search-result" class="panel panel-default a_search_container" style="display: none;">
        <div class="panel-heading">
            <button type="button" class="close a_search_close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="panel-title text-center">Search Result</h3>
        </div>
        <div class="panel-body" style="background: rgba(241, 189, 189, 0.75);">
            <small>You can search by: id, reference, name, mobile and vehicle registration </small> 
            <hr>
            <div>
                <table class="table a_table_search">
                    <tbody>
                        <tr class="pointer">
                            <td><span class="label label-default">1 Feb 2019</span></td>
                            <td><span class="label label-default">3 Feb 2019</span></td>
                            <td><span class="label label-default">L4P</span><span class="label label-info">F</span></td>
                            <td><span class="label label-default">L4R-1-2199353</span></td>
                            <td><span class="label label-default">Birmingham</span></td>
                            <td>Monika K?pka</td>
                            <td>BD06UZA</td>
                            <td><span class="label label-success">OK</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="template_search" style="display: none;">
        <table class="table">
            <tbody>
                <tr class="pointer">
                    <td><span class="badge badge-secondary data__leavingDate_formatted">&nbsp;</span></td>
                    <td><span class="badge badge-secondary data__returnDate_formatted" >&nbsp;</span></td>
                    <td><span class="badge badge-secondary data__consolidator_name">&nbsp;</span> <span class="badge badge-primary data_product">&nbsp;</span></td>
                    <td><span class="badge badge-secondary data_refNum">&nbsp;</span></td>
                    <td><span class="badge badge-secondary data__airport_name">&nbsp;</span></td>
                    <td class="data__name">&nbsp;</td>
                    <td class="data_carReg">&nbsp;</td>
                    <td><span class="badge badge-pill data_color_selector_payment data_payment">&nbsp;</span></td>
                </tr>
            </tbody>
        </table>
    </div>

{$__main__}

    <script type="text/javascript">
      $(function () {
    	$('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>