<script>
$(document).ready(function() {
  $('#leaving_datepicker').datetimepicker({
    format: 'DD/MM/YYYY'
  });

  $('#returning_datepicker').datetimepicker({
    format: 'DD/MM/YYYY'
  });

  $('#leaving_time').datetimepicker({
    format: 'LT'
  });

  $('#returning_time').datetimepicker({
    format: 'LT'
  });
});  
</script>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="container-fluid">
				<div class="row py-3">
					<div class="offset-md-3 col-md-6 d-flex justify-content-md-center">
						<h2>Add new report</h2>
					</div>
				</div>
			</div>
			<form action="add.php" method="POST">
				<div class="container-fluid p-2 bg-light">
					<div class="row mx-0">
						<div class="col-md-12 p-2 bg-white">
							<div class="row">
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<div class="form-group">
										<label for="name">Name</label>
										<input type="text" id="name" name="firstname" class="form-control" maxlength="25" pattern="{literal}[A-Za-z]{2,}{/literal}" required>
									</div>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<div class="form-group">
										<label for="surname">Surname</label>
										<input type="text" id="surname" name="surname" class="form-control" maxlength="25" pattern="{literal}[A-Za-z]{2,}{/literal}" required>
									</div>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<div class="form-group">
										<label for="email">Email</label>
										<input type="email" id="email" name="email" class="form-control" required>
									</div>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<div class="form-group">
										<label for="mobile">Mobile</label>
										<input type="text" id="mobile" name="mobile" class="form-control" maxlength="25" pattern="{literal}[0-9 .+/]{10,}{/literal}" required>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mx-0 my-2">
						<div class="col-md-3 pl-0">
							<div class="card p-2 border-0 rounded-0">
								<div class="form-group">
									<label>Service</label>
									<select id="type" class="form-control" name="typeID">
{foreach from=$services item=_i key=_k}
										<option value="{$_i.id}">{$_i.name}</option>
{/foreach}
									</select>
								</div>
	
								<div class="form-group">
									<label>Airport</label>
	
									<select id="airport" class="form-control" name="airportID">
{foreach from=$airports item=_i key=_k}
									<option value="{$_i.id}">{$_i.name}</option>
{/foreach}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6 px-0">
							<div class="card py-2 px-3 border-0 rounded-0">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="dateStart">Leaving on</label>
											<input type="text" class="form-control datetimepicker-input" id="leaving_datepicker" name="leaving_datepicker" placeholder="dd/mm/yyyy" data-toggle="datetimepicker" data-target="#leaving_datepicker" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="timeStart">Leaving Time</label>
											<div class="input-group date" id="leaving_time" data-target-input="nearest">
												<input type="text" name="leaving_time" class="form-control datetimepicker-input" data-target="#leaving_time" placeholder="hh:mm" required/>
												<div class="input-group-append" data-target="#leaving_time" data-toggle="datetimepicker">
													<div class="input-group-text"><i class="fas fa-clock"></i></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="dateEnd">Returning on</label>
											<input type="text" class="form-control datetimepicker-input" id="returning_datepicker" name="returning_datepicker" placeholder="dd/mm/yyyy" data-toggle="datetimepicker" data-target="#returning_datepicker" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="timeEnd">Returning Time</label>
											<div class="input-group date" id="returning_time" data-target-input="nearest">
												<input type="text" name="returning_time" class="form-control datetimepicker-input" data-target="#returning_time" placeholder="hh:mm" required/>
												<div class="input-group-append" data-target="#returning_time" data-toggle="datetimepicker">
													<div class="input-group-text"><i class="fas fa-clock"></i></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 pr-0">
							<div class="card p-2 border-0 rounded-0">
								<div class="col-xs-6"> </div>
								<div class="col-xs-6">
									<div class="form-group">
										<label for="price">price</label>
										<input type="text" id="price" name="price" class="form-control" maxlength="12" pattern="{literal}[0-9]{1,}{/literal}" required>
									</div>
									<div class="label label-default">Full price: 0</div>
								</div>
							</div>
						</div>
					</div>
	
					<div class="row mx-0 my-2">
						<div class="col-md-8 pl-0">
							<div class="card p-2 border-0 rounded-0">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="carReg">Car Reg</label>
											<input type="text" id="carReg" name="carReg" class="form-control" maxlength="10" pattern="{literal}[A-Za-z0-9 ]{1,}{/literal}" required>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="carModel">Car Model</label>
											<input type="text" id="carModel" name="carModel" class="form-control" maxlength="25" pattern="{literal}[A-Za-z0-9 ]{1,}{/literal}" required>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="carColor">Car Colour</label>
											<input type="text" id="carColor" name="carColour" class="form-control" maxlength="12" pattern="{literal}[A-Za-z ]{1,}{/literal}" required>
										</div>
									</div>
								</div>
							</div>
							<div class="card p-2 border-0 rounded-0">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="flightEnd">Return flight</label>
											<input type="text" id="flightEnd" name="returnFlightNum" class="form-control" maxlength="10" pattern="{literal}[A-Z]{2}[0-9]{1,}{/literal}" required>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="terminalStart">Leaving terminal</label>
											<input type="text" id="terminal_out" name="terminal_out" class="form-control" maxlength="11" pattern="{literal}[A-Za-z0-9,]{1,}{/literal}" required>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="terminalEnd">Return terminal </label>
											<input type="text" id="terminal_in" name="terminal_in" class="form-control" maxlength="11" pattern="{literal}[A-Za-z0-9,]{1,}{/literal}" required>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 p-0">
							<div class="card py-2 px-3 border-0 rounded-0">
								<div class="form-group">
									<label for="agent">Consolidator</label>
									<select class="form-control" name="consolidatorID">
{foreach from=$consolidators item=_i key=_k}								
										<option value="{$_i.id}">{$_i.name}</option>
{/foreach}
									</select>
								</div>
	
								<div class="form-group">
									<label for="ref">Reference</label>
									<input type="text" id="ref" name="refNum" class="form-control" maxlength="12" pattern="{literal}[A-Za-z ]{1,}{/literal}">
									<small>Leave empty to autogenerate</small>
								</div>
								<div class="form-group">
									<label for="product">Product</label>
									<input type="text" id="product" name="product" class="form-control" maxlength="12" pattern="{literal}[A-Za-z ]{1,}{/literal}">
								</div>
							</div>
	
						</div>
					</div>
					<div class="row mx-0 my-2 d-flex align-items-end">
						<div class="col-md-6 pl-0">
							<div class="card py-2 px-3 border-0 rounded-0">
								<div class="form-group">
									<label for="comment">comment</label>
									<textarea name="comment" maxlength="255" rows="5" class="form-control"></textarea>
								</div>
							</div>
						</div>
						<div class="col-md-6 pr-0">
							<button type="button" class="btn btn-large btn-block btn-secondary">Add and open payment page</button>
							<button type="submit" class="btn btn-large btn-block btn-secondary">Add as Paid</button>
							<button type="button" class="btn btn-large btn-block btn-secondary">Add as Paid and Send Confirmation</button>
						</div>
					</div>
				</div>
			</form>	
		</div>
	</div>
<div>