<script>
request = {
  service: '0',
  airport: '0',
  consolidator: '0',
  terminal: '0',
  date: ''
};

function refresh()
{
  var supa_magic_date = moment(request['date']);
  var diff = supa_magic_date.diff(moment().hours(0).minutes(0).seconds(0).milliseconds(0), 'days');
  var supa_magic_date_addon = '';
  if (diff == 0) {
    supa_magic_date_addon = ' (Today)';
  } else if (diff == 1) {
    supa_magic_date_addon = ' (Tomorrow)';
  } else if (diff == -1) {
    supa_magic_date_addon = ' (Yesterday)'; // all my troubles seemed so far away...
  }
  $('.supa_magic_date').html(supa_magic_date.format('ddd MMM D YYYY') + supa_magic_date_addon);

  $('.list_container').html($('.loader_container').html());

  $.ajax({
    url: 'ajax_reports.php',
    method: 'post',
    data: request
  }).done(function(data){
    $('.list_container').html('');

    var listLeaving = $($('.list_item_leaving_template').html());
    var listReturn = $($('.list_item_return_template').html());

    for (var reportIndex in data) {
      var listEntry = $($('.list_item_template').html());

      for (var reportProperty in data[reportIndex]) {
        listEntry.find('.data_' + reportProperty).each(function(index, element) {
          $(element).html(data[reportIndex][reportProperty]);
        });

        listEntry.find('span[data-original-title="data_' + reportProperty + '"]').each(function(index, element) {
          $(element).attr('data-original-title', data[reportIndex][reportProperty]);

          $(element).tooltip()
        });
      }

      switch (data[reportIndex]['payment']) {
        case 'OK': listEntry.addClass('bg-white'); break;
        case 'Paid': listEntry.addClass('bg-white'); break;
        case 'Pending': listEntry.addClass('alert-warning text-dark'); break;
        case 'Cancelled': listEntry.addClass('alert-warning text-dark'); break;
        default: listEntry.addClass('bg-white');
      }

      listEntry.find('.data_color_selector_leavingDate').each(function(index, element) {
        switch (data[reportIndex]['payment']) {
          case 'OK': $(element).addClass('text-success'); break;
          case 'Paid': $(element).addClass('text-success'); break;
		  case 'Ammended': $(element).addClass('text-warning'); break;
          case 'Pending': $(element).addClass('text-warning'); break;
          case 'Cancelled': $(element).addClass(''); break;
          default: $(element).addClass('bg-white');
        }
      });

      listEntry.find('.data_color_selector_payment').each(function(index, element) {
        switch (data[reportIndex]['payment']) {
          case 'OK': $(element).addClass('badge-success'); break;
          case 'Paid': $(element).addClass('badge-success'); break;
		  case 'Ammended': $(element).addClass('badge-success'); break;
          case 'Pending': $(element).addClass('badge-warning'); break;
          case 'Cancelled': $(element).addClass('badge-danger'); break;
          default: $(element).addClass('bg-white');
        }
      });
      
	  listEntry.attr('data-report-id', data[reportIndex]['id']);
      
	  if (data[reportIndex]['notes'] === '') {
        listEntry.find('.data_visibility_selector_notes').hide();
      }

      switch (request['date']) {
        case data[reportIndex]['leavingDate'].substr(0, 10):
          var inserted = false;

          listLeaving.children().each(function(index, element) {
            if ($(element).attr('data-toggle') == 'modal') {
              $(element).find('.data__a_date').each(function(index1, element1) {
                if ($(element1).attr('data-original-title') > data[reportIndex]['_leavingDate_additional']) {
                  $(element).before(listEntry);
                  inserted = true;

                  return false;
                }
              });
            };
          });

          if (!inserted) {
            listLeaving.append(listEntry);
          }
        break;
        case data[reportIndex]['returnDate'].substr(0, 10): 
          var inserted = false;

          listReturn.children().each(function(index, element) {
            if ($(element).attr('data-toggle') == 'modal') {
              $(element).find('.data__a_date').each(function(index1, element1) {
                if ($(element1).attr('data-original-title') > data[reportIndex]['_returnDate_additional']) {
                  $(element).before(listEntry);
                  inserted = true;

                  return false;
                }
              });
            };
          });

          if (!inserted) {
            listReturn.append(listEntry);
          }
        break;
        default: console.log(data[reportIndex]);
      }
    }

    $('.list_container').append(listLeaving);
    $('.list_container').append(listReturn);

    listLeaving.find('.data_count').html(listLeaving.children().length - 1);
    listReturn.find('.data_count').html(listReturn.children().length - 1);

    $('.list_container .supa_magic_link').each(function(index, element) {
      for (var property in request) {
        $(element).attr('href', $(element).attr('href').replace('__' + property.toUpperCase() + '__', request[property]));
      }
    });
  });
}

$(document).ready(function() {
  $('.property_refresh_check').on('change', function(event) {
    var classList = $(event.currentTarget).attr('class').split(/\s+/);
    $.each(classList, function(index, item) {
      if (item.indexOf('property_name_') === 0) {
        request[item.substr(14)] = $(event.currentTarget).attr('value');
      }
    });

    refresh();
  });

  $('.property_refresh_select').on('click', function(event) {
    var name = '';
    var value = '0';

    var classList = $(event.currentTarget).attr('class').split(/\s+/);
    $.each(classList, function(index, item) {
      if (item.indexOf('property_name_') === 0) {
        name = item.substr(14);
      }
      if (item.indexOf('property_value_') === 0) {
        value = item.substr(15);
      }
    });

    if (name != '') {
      request[name] = value;

      refresh();
    }
  });

  $('#datetimepickerHidden').datetimepicker({
    defaultDate: new Date(),
    format: 'YYYY-MM-DD'
  });

  request['date'] = $('#datetimepickerHidden').val();

  var myMoment = moment($('#datetimepickerHidden').val());
  $('#date_date').html(myMoment.format('D MMM'));

  $('#datetimepickerHidden').on('change.datetimepicker', function(event) {
    request['date'] = $('#datetimepickerHidden').val();

    var myMoment = moment($('#datetimepickerHidden').val());
    $('#date_date').html(myMoment.format('D MMM'));

    refresh();
  });

  $('#date_back').on('click', function(event) {
    var myMoment = moment($('#datetimepickerHidden').val());
    myMoment.subtract(1, 'day');
    $('#datetimepickerHidden').val(myMoment.format('YYYY-MM-DD'))

    $('#date_date').html(myMoment.format('D MMM'));

    request['date'] = $('#datetimepickerHidden').val();

    refresh();
  });

  $('#date_forw').on('click', function(event) {
    var myMoment = moment($('#datetimepickerHidden').val());
    myMoment.add(1, 'day');
    $('#datetimepickerHidden').val(myMoment.format('YYYY-MM-DD'))

    $('#date_date').html(myMoment.format('D MMM'));

    request['date'] = $('#datetimepickerHidden').val();

    refresh();
  });

  refresh();
});
</script>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-xs-6 col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-start">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" value="0" class="property_refresh_check property_name_service" checked> ALL
              </label>
{foreach from=$services item=_i key=_k}
              <label class="btn btn-secondary">
                <input type="radio" name="options" value="{$_i.id}" class="property_refresh_check property_name_service" /> {$_i.acronym}
              </label>
{/foreach}
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" value="0" class="property_refresh_check property_name_airport" checked> ALL
              </label>
{foreach from=$airports item=_i key=_k}
              <label class="btn btn-secondary">
                <input type="radio" name="options" value="{$_i.id}" class="property_refresh_check property_name_airport"> {$_i.acronym}
              </label>
{/foreach}					  

              <label class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                <input type="radio" name="options" id="option3" class="px-5"> &nbsp;
              </label>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item property_refresh_select property_name_consolidator property_value_0">All</a>
                  <div class="dropdown-divider"></div>
{foreach from=$consolidators item=_i key=_k}
                  <a href="#" class="dropdown-item property_refresh_select property_name_consolidator property_value_{$_i.id}">{$_i.acronym}</a>
{/foreach}
                </div>
            </div>
        </div>

        <div class="col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-end">
            <input type="hidden" id="datetimepickerHidden" class="datetimepicker-input"  />
            <div class="btn-group btn-group-toggle">
                <button id="date_back" class="btn btn-secondary"><i class="fas fa-step-backward"></i></button>
                <button id="date_date" class="btn btn-secondary active" data-toggle="datetimepicker" data-target="#datetimepickerHidden">Today</button>
                <button id="date_forw" class="btn btn-secondary"><i class="fas fa-step-forward"></i></button>
            </div>
        </div>
    </div>
    <div class="row pb-3">
      <div class="offset-md-3 col-md-6 d-flex justify-content-md-center">
        <h2 class="supa_magic_date"><script> document.write(new Date().toDateString()); </script> (Today)</h2>
      </div>
      <div class="col-md-3 d-flex justify-content-md-end">
        <button type="button" class="btn btn-primary">Print AM/PM</button>
      </div>
    </div>
</div>

<div class="container-fluid pb-2 bg-light">
    <div class="row mx-0 py-3 text-muted border-bottom list_container" id="daily-rows">
        <div class="col-md-6 list_container_left">
          <div class="row mx-0 pb-2 text-muted border-bottom">
            <div class="col-md-6">
              403
            </div>
            <div class="col-md-6 d-flex justify-content-md-end">
              <a href="api/print/pdf.slip.php?date=2018-08-27&amp;airport=0&amp;type=" target="_blank" class="btn btn-primary btn-sm pull-right mr-2">Print</a> <a href="api/print/pdf.slip.returns.php?date=2018-08-27&amp;airport=0&amp;type=&amp;in=1" target="_blank" class="btn btn-primary btn-sm">List</a>
            </div>
          </div>
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">L4P-1-1892702</span>
            </div>
            <div class="col-md-2">02:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Kerry Robinson</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning">KR10XNE</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">ZFH1ES</span>
            </div>
            <div class="col-md-2">02:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr Damon Blackburn</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">DP17HZX</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">181983486</span>
            </div>
            <div class="col-md-2">02:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mrs Jo Owen</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">J99OON</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">182000448</span>
            </div>
            <div class="col-md-2">03:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr Scott Copeland</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">YE57WOA</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">CH181983861</span>
            </div>
            <div class="col-md-2">03:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mrs Sarah Price</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">R88SJP</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">L4P-1-2228353</span>
            </div>
            <div class="col-md-2">03:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Helen Caldwell</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">DU02EBM</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">SFP-1-2289852</span>
            </div>
            <div class="col-md-2">03:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Sue Collings</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">MF63XPW</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">75QNR</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr J Oneil</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">DY12KPT</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">L4P-1-238886</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Danny Rhode</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">ML63BVR</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">FN049</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr R Holder</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">FJ67TXX</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
              <div class="col-md-3 mb-1">
                <span class="badge badge-success">L4P-1-2381267</span>
              </div>
              <div class="col-md-2 mb-1">03:30</div>
              <div class="col-md-1 mb-1"></div>
              <div class="col-md-4 mb-1">Barry</div>
              <div class="col-md-2 d-flex justify-content-end mb-1">
                <span class="badge badge-warning p-2">RO09VVB</span>
              </div>
            <div class="col-md-12">
              <div class="alert alert-warning py-1 m-0" role="alert">
                Landing is 13.10
              </div>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">CH181996340</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Barry</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">RO09VVB</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">181991996</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr Ettore Pisano</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">KF17FKO</span>
            </div>
          </div>
          <!-- /item -->
        </div>
        <div class="col-md-6  list_container_right">
          <div class="row mx-0 pb-2 text-muted border-bottom">
            <div class="col-md-6">
              743
            </div>
            <div class="col-md-6 d-flex justify-content-md-end">
              <a href="api/print/pdf.slip.returns.php?date=2018-08-27&amp;airport=0&amp;type=&amp;in=1" target="_blank" class="btn btn-primary btn-sm">List</a>
            </div>
          </div>
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">L4P-1-1892702</span>
            </div>
            <div class="col-md-2">02:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Kerry Robinson</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning">KR10XNE</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">ZFH1ES</span>
            </div>
            <div class="col-md-2">02:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr Damon Blackburn</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">DP17HZX</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">181983486</span>
            </div>
            <div class="col-md-2">02:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mrs Jo Owen</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">J99OON</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#editReportModal" data-report-id="data_report_id">
            <div class="col-md-3">
              <span class="badge badge-success">182000448</span>
            </div>
            <div class="col-md-2">03:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr Scott Copeland</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">YE57WOA</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">CH181983861</span>
            </div>
            <div class="col-md-2">03:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mrs Sarah Price</div>
            <div class="col-md-2 d-flex justify-content-end mb-1">
              <span class="badge badge-warning p-2">R88SJP</span>
            </div>
            <div class="col-md-12">
              <div class="alert alert-warning py-1 m-0" role="alert">
                sabir took the car
              </div>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">L4P-1-2228353</span>
            </div>
            <div class="col-md-2">03:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Helen Caldwell</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">DU02EBM</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">SFP-1-2289852</span>
            </div>
            <div class="col-md-2">03:00</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Sue Collings</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">MF63XPW</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">75QNR</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr J Oneil</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">DY12KPT</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">L4P-1-238886</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Danny Rhode</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">ML63BVR</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">FN049</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr R Holder</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">FJ67TXX</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
              <div class="col-md-3 mb-1">
                <span class="badge badge-success">L4P-1-2381267</span>
              </div>
              <div class="col-md-2 mb-1">03:30</div>
              <div class="col-md-1 mb-1"></div>
              <div class="col-md-4 mb-1">Barry</div>
              <div class="col-md-2 d-flex justify-content-end mb-1">
                <span class="badge badge-warning p-2">RO09VVB</span>
              </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">CH181996340</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Barry</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">RO09VVB</span>
            </div>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="row mx-0 my-2 py-2 bg-white">
            <div class="col-md-3">
              <span class="badge badge-success">181991996</span>
            </div>
            <div class="col-md-2">03:30</div>
            <div class="col-md-1"></div>
            <div class="col-md-4">Mr Ettore Pisano</div>
            <div class="col-md-2 d-flex justify-content-end">
              <span class="badge badge-warning p-2">KF17FKO</span>
            </div>
          </div>
          <!-- /item -->
        </div>
    </div>
</div>

<div class="loader_container" style="display: none;">
	<div style="margin: 0 auto; color: #777" class="text-center">
		<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		<div style="margin-bottom: 24px; font-size: 36px; line-height: 40px; font-weight: 900">One moment please</div>
		<p>We are looking for results using your criteria.</p>
	</div>
</div>

<div class="list_item_leaving_template" style="display: none;">
  <div class="col-md-6">
    <div class="row mx-0 pb-2 text-muted border-bottom">
      <div class="col-md-6 data_count">403</div>
      <div class="col-md-6 d-flex justify-content-md-end"><a href="api/print/pdf.slip.php?date=__DATE__&airport=__AIRPORT__&type=__SERVICE__" target="_blank" class="btn btn-primary btn-sm pull-right mr-2 supa_magic_link">Print</a> <a href="api/print/pdf.slip.returns.php?date=__DATE__&airport=__AIRPORT__&type=__SERVICE__&in=1" target="_blank" class="btn btn-primary btn-sm supa_magic_link">List</a></div>
    </div>
  </div>
</div>

<div class=" list_item_return_template" style="display: none;">
  <div class="col-md-6">
    <div class="row mx-0 pb-2 text-muted border-bottom">
      <div class="col-md-6 data_count">743</div>
      <div class="col-md-6 d-flex justify-content-md-end"><a href="api/print/pdf.slip.returns.php?date=__DATE__&airport=__AIRPORT__&type=__SERVICE__&in=1" target="_blank" class="btn btn-primary btn-sm supa_magic_link">List</a></div>
    </div>
  </div>
</div>

<div class="list_item_template" style="display: none;">
  <div class="row mx-0 my-2 py-2 bg-white pointer" data-toggle="modal" data-target="#editReportModal" data-report-id="">
    <div class="col-md-3">
      <span class="badge badge-success data_refNum"></span>
    </div>
    <div class="col-md-2">
      <span class="span-tooltip data_color_selector_leavingDate data__leavingDate_formatted data__a_date" data-toggle="tooltip" data-placement="top" title="data__leavingDate_additional"></span>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 data__name"></div>
    <div class="col-md-2 d-flex justify-content-end">
      <span class="badge badge-warning p-2 data_carReg"></span>
    </div>
    <div class="col-md-12">
      <div class="alert alert-warning py-1 m-0 data_visibility_selector_notes data_notes" role="alert"></div>
    </div>
  </div>
</div>
