<script>
request = {
  service: '0',
  airport: '0',
  consolidator: '0'
};

function refresh()
{
  $('.list_container').html($('.loader_container').html());

  $.ajax({
    url: 'ajax_reports.php',
    method: 'post',
    data: request
  }).done(function(data){
    $('.list_container').html($('.list_header_container').html());

    for (var reportIndex in data) {
      var listEntry = $($('.list_item_template').html());

      for (var reportProperty in data[reportIndex]) {
        listEntry.find('.data_' + reportProperty).each(function(index, element) {
          $(element).html(data[reportIndex][reportProperty]);
        });

        listEntry.find('span[data-original-title="data_' + reportProperty + '"]').each(function(index, element) {
          $(element).attr('data-original-title', data[reportIndex][reportProperty]);

          $(element).tooltip()
        });
      }

      switch (data[reportIndex]['status']) {
        case 'OK': listEntry.addClass('bg-white'); break;
        case 'Paid': listEntry.addClass('bg-white'); break;
        case 'Amended' : listEntry.addClass('alert-secondary'); break;
        case 'Pending': listEntry.addClass('alert-warning text-dark'); break;
        case 'Cancelled': listEntry.addClass('alert-warning text-dark'); break;
        default: listEntry.addClass('bg-white');
      }

      listEntry.find('.data_color_selector_leavingDate').each(function(index, element) {
        switch (data[reportIndex]['status']) {
          case 'OK': $(element).addClass('text-success'); break;
          case 'Paid': $(element).addClass('text-success'); break;
		  case 'Amended': $(element).addClass(''); break;
          case 'Pending': $(element).addClass('text-warning'); break;
          case 'Cancelled': $(element).addClass(''); break;
          default: $(element).addClass('bg-white');
        }
      });

      listEntry.find('.data_color_selector_status').each(function(index, element) {
        switch (data[reportIndex]['status']) {
          case 'OK': $(element).addClass('badge-success'); break;
          case 'Paid': $(element).addClass('badge-success'); break;
		  case 'Amended': $(element).addClass('badge-success'); break;
          case 'Pending': $(element).addClass('badge-warning'); break;
          case 'Cancelled': $(element).addClass('badge-danger'); break;
          default: $(element).addClass('bg-white');
        }
      });

      listEntry.attr('data-report-id', data[reportIndex]['id']);

      $('.list_container').append(listEntry);
    }
  });
}

$(document).ready(function() {
  $('.property_refresh_check').on('change', function(event) {
    var classList = $(event.currentTarget).attr('class').split(/\s+/);
    $.each(classList, function(index, item) {
      if (item.indexOf('property_name_') === 0) {
        request[item.substr(14)] = $(event.currentTarget).attr('value');
      }
    });

    refresh();
  });

  $('.property_refresh_select').on('click', function(event) {
    var name = '';
    var value = '0';

    var classList = $(event.currentTarget).attr('class').split(/\s+/);
    $.each(classList, function(index, item) {
      if (item.indexOf('property_name_') === 0) {
        name = item.substr(14);
      }
      if (item.indexOf('property_value_') === 0) {
        value = item.substr(15);
      }
    });

    if (name != '') {
      request[name] = value;

      refresh();
    }
  });

  refresh();
});

</script>

        <div class="container-fluid">
            <div class="row py-3">
                <div class="col-xs-6 col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-start">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary active">
                        <input type="radio" name="options" value="0" class="property_refresh_check property_name_service" checked> ALL
                      </label>
{foreach from=$services item=_i key=_k}
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" value="{$_i.id}" class="property_refresh_check property_name_service" /> {$_i.acronym}
                      </label>
{/foreach}
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary active">
                        <input type="radio" name="options" value="0" class="property_refresh_check property_name_airport" checked> ALL
                      </label>
{foreach from=$airports item=_i key=_k}
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" value="{$_i.id}" class="property_refresh_check property_name_airport"> {$_i.acronym}
                      </label>
{/foreach}					  

                      <label class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                        <input type="radio" name="options" class="px-5"> &nbsp;
                      </label>
                        <div class="dropdown-menu">
                          <a href="#" class="dropdown-item property_refresh_select property_name_consolidator property_value_0">All</a>
                          <div class="dropdown-divider"></div>
{foreach from=$consolidators item=_i key=_k}
                          <a href="#" class="dropdown-item property_refresh_select property_name_consolidator property_value_{$_i.id}">{$_i.acronym}</a>
{/foreach}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-end">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                            <input type="radio" name="options" id="option3"> Latest
                        </label>
                        <div class="dropdown-menu" id="dd">
                          <a class="dropdown-item" href="#">Today</a>
                          <a class="dropdown-item" href="#">Tomorrow</a>
                          <a class="dropdown-item" href="#">Today &amp; Tomorrow</a>
                          <a class="dropdown-item" href="#">Xtra Payments Due</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pb-2 bg-light list_container">
            <div class="row mx-0 py-3 text-muted border-bottom">
                <div class="col">
                    When
                </div>
                <div class="col">
                    Agent
                </div>
                <div class="col medium-column">
                    Name
                </div>
                <div class="col">
                    Airport
                </div>
                <div class="col small-column">
                    Type
                </div>
                <div class="col">
                    Ref
                </div>
                <div class="col">
                    Arrival
                </div>
                <div class="col">
                    Departure
                </div>
                <div class="col">
                    Reg
                </div>
                <div class="col">
                    Status
                </div>
                <div class="col small-column">
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>

                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mr Jerome Nelson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">F8HX4T</span>
                </div>
                <div class="col">
                    <span class="span-tooltip text-success" data-toggle="tooltip" data-placement="top" title="9:30">
                      14 Aug
                    </span>
                </div>
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="21:30">
                      22 Aug
                    </span>
                </div>
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="Kia Sportage">
                      GV64NYG
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 alert-warning text-dark">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DriveFly</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Diego Novick
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Heathrow</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DDFH737773</span>
                </div>
                <div class="col">
                    <span class="text-warning">15 Aug</span>
                </div>
                <div class="col">
                    21 Aug
                </div>
                <div class="col">
                    LN18 NHZ
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-warning">Pending</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-piggy-bank"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 alert-secondary">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mrs Catherine Jamieson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">69CHJH</span>
                </div>
                <div class="col">
                    05 Aug
                </div>
                <div class="col">
                    12 Aug
                </div>
                <div class="col">
                    KS64OOX
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">Amended</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-tag"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">EX</span>
                    <span class="badge badge-primary">LTC1</span>
                </div>
                <div class="col medium-column">
                    Mr D Long
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Luton</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DVP07</span>
                </div>
                <div class="col">
                    30 Nov
                </div>
                <div class="col">
                    03 Dec
                </div>
                <div class="col">
                    LM18LBN
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mr Jerome Nelson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">F8HX4T</span>
                </div>
                <div class="col text-success">
                    14 Aug
                </div>
                <div class="col">
                    22 Aug
                </div>
                <div class="col">
                    GV64NYG
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 alert-warning text-dark">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DriveFly</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Andrew Short
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Heathrow</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DDFH706320</span>
                </div>
                <div class="col">
                    23 Jun
                </div>
                <div class="col">
                    27 Jun
                </div>
                <div class="col">
                    WU17 WC0
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-danger">Cancelled</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-piggy-bank"></i> <i class="fas fa-tag"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mr Jerome Nelson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">F8HX4T</span>
                </div>
                <div class="col">
                    <span class="span-tooltip text-success" data-toggle="tooltip" data-placement="top" title="9:30">
                      14 Aug
                    </span>
                </div>
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="21:30">
                      22 Aug
                    </span>
                </div>
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="Kia Sportage">
                      GV64NYG
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>
            <div class="row mx-0 my-2 py-2 alert-warning text-dark">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DriveFly</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Diego Novick
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Heathrow</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DDFH737773</span>
                </div>
                <div class="col">
                    <span class="text-warning">15 Aug</span>
                </div>
                <div class="col">
                    21 Aug
                </div>
                <div class="col">
                    LN18 NHZ
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-warning">Pending</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-piggy-bank"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 alert-secondary">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mrs Catherine Jamieson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">69CHJH</span>
                </div>
                <div class="col">
                    05 Aug
                </div>
                <div class="col">
                    12 Aug
                </div>
                <div class="col">
                    KS64OOX
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">Amended</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-tag"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">EX</span>
                    <span class="badge badge-primary">LTC1</span>
                </div>
                <div class="col medium-column">
                    Mr D Long
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Luton</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DVP07</span>
                </div>
                <div class="col">
                    30 Nov
                </div>
                <div class="col">
                    03 Dec
                </div>
                <div class="col">
                    LM18LBN
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mr Jerome Nelson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">F8HX4T</span>
                </div>
                <div class="col text-success">
                    14 Aug
                </div>
                <div class="col">
                    22 Aug
                </div>
                <div class="col">
                    GV64NYG
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 alert-warning text-dark">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DriveFly</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Andrew Short
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Heathrow</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DDFH706320</span>
                </div>
                <div class="col">
                    23 Jun
                </div>
                <div class="col">
                    27 Jun
                </div>
                <div class="col">
                    WU17 WC0
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-danger">Cancelled</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-piggy-bank"></i> <i class="fas fa-tag"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mr Jerome Nelson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">F8HX4T</span>
                </div>
                <div class="col">
                    <span class="span-tooltip text-success" data-toggle="tooltip" data-placement="top" title="9:30">
                      14 Aug
                    </span>
                </div>
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="21:30">
                      22 Aug
                    </span>
                </div>
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="Kia Sportage">
                      GV64NYG
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>
            <div class="row mx-0 my-2 py-2 alert-warning text-dark">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DriveFly</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Diego Novick
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Heathrow</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DDFH737773</span>
                </div>
                <div class="col">
                    <span class="text-warning">15 Aug</span>
                </div>
                <div class="col">
                    21 Aug
                </div>
                <div class="col">
                    LN18 NHZ
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-warning">Pending</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-piggy-bank"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 alert-secondary">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mrs Catherine Jamieson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">69CHJH</span>
                </div>
                <div class="col">
                    05 Aug
                </div>
                <div class="col">
                    12 Aug
                </div>
                <div class="col">
                    KS64OOX
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">Amended</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-tag"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">EX</span>
                    <span class="badge badge-primary">LTC1</span>
                </div>
                <div class="col medium-column">
                    Mr D Long
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Luton</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DVP07</span>
                </div>
                <div class="col">
                    30 Nov
                </div>
                <div class="col">
                    03 Dec
                </div>
                <div class="col">
                    LM18LBN
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mr Jerome Nelson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">F8HX4T</span>
                </div>
                <div class="col text-success">
                    14 Aug
                </div>
                <div class="col">
                    22 Aug
                </div>
                <div class="col">
                    GV64NYG
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 alert-warning text-dark">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DriveFly</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Andrew Short
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Heathrow</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">DDFH706320</span>
                </div>
                <div class="col">
                    23 Jun
                </div>
                <div class="col">
                    27 Jun
                </div>
                <div class="col">
                    WU17 WC0
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-danger">Cancelled</span>
                </div>
                <div class="col small-column">
                    <span class="text-secondary"><i class="fas fa-piggy-bank"></i> <i class="fas fa-tag"></i></span>
                </div>
            </div>

            <div class="row mx-0 my-2 py-2 bg-white" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="14 Aug 16:50">
                      an hour ago
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">CHR</span>
                    <span class="badge badge-primary">D</span>
                </div>
                <div class="col medium-column">
                    Mr Jerome Nelson
                </div>
                <div class="col">
                    <span class="badge badge-secondary">Birmingham</span>
                </div>
                <div class="col small-column">
                    <span class="badge badge-secondary">MG</span>
                </div>
                <div class="col">
                    <span class="badge badge-secondary">F8HX4T</span>
                </div>
                <div class="col">
                    <span class="span-tooltip text-success" data-toggle="tooltip" data-placement="top" title="9:30">
                      14 Aug
                    </span>
                </div>
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="21:30">
                      22 Aug
                    </span>
                </div>
                <div class="col">
                    <span class="span-tooltip" data-toggle="tooltip" data-placement="top" title="Kia Sportage">
                      GV64NYG
                    </span>
                </div>
                <div class="col">
                    <span class="badge badge-pill badge-success">OK</span>
                </div>
                <div class="col small-column">
                </div>
            </div>
        </div>


<div class="loader_container" style="display: none;">
	<div style="margin: 36px 0; color: #777; padding-top: 1rem;" class="text-center">
		<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		<div style="margin-bottom: 24px; font-size: 36px; line-height: 40px; font-weight: 900">One moment please</div>
		<p>We are looking for results using your criteria.</p>
	</div>
</div>

<div class="list_header_container" style="display: none;">
            <div class="row mx-0 py-3 text-muted border-bottom">
                <div class="col">
                    When
                </div>
                <div class="col">
                    Agent
                </div>
                <div class="col medium-column">
                    Name
                </div>
                <div class="col">
                    Airport
                </div>
                <div class="col small-column">
                    Type
                </div>
                <div class="col">
                    Ref
                </div>
                <div class="col">
                    Arrival
                </div>
                <div class="col">
                    Departure
                </div>
                <div class="col">
                    Reg
                </div>
                <div class="col">
                    Status
                </div>
                <div class="col small-column">
                </div>
            </div>
</div>


<div class="list_item_template" style="display: none;">
	<div class="row mx-0 my-2 py-2 pointer" data-toggle="modal" data-target="#editReportModal" data-report-id="">
		<div class="col">
			<span class="span-tooltip data__created_relative" data-toggle="tooltip" data-placement="top" title="data__created_formatted">
			</span>
		</div>
		<div class="col">
			<span class="badge badge-secondary data_consolidatorName"></span>
			<span class="badge badge-primary data_product"></span>
		</div>
		<div class="col medium-column data__name">
		</div>
		<div class="col">
			<span class="badge badge-secondary data__airport_name"></span>
		</div>
		<div class="col small-column">
			<span class="badge badge-secondary data__type_acronym"></span>
		</div>
		<div class="col">
			<span class="badge badge-secondary data_refNum"></span>
		</div>
		<div class="col">
			<span class="span-tooltip data_color_selector_leavingDate data__leavingDate_formatted" data-toggle="tooltip" data-placement="top" title="data__leavingDate_additional"></span>
		</div>
		<div class="col">
			<span class="span-tooltip data__returnDate_formatted" data-toggle="tooltip" data-placement="top" title="data__returnDate_additional"></span>
		</div>
		<div class="col">
			<span class="span-tooltip data_carReg" data-toggle="tooltip" data-placement="top" title="data_carModel"></span>
		</div>
		<div class="col">
			<span class="badge badge-pill data_color_selector_status data_status"></span>
		</div>
		<div class="col small-column">
		</div>
	</div>
</div>


