<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{literal}
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(chartLoadedCallback);

  var chartLoaded = false;

  function chartLoadedCallback() {
    chartLoaded = true;
  }
</script>
{/literal}

<script language="javascript">
request = {
  service: '0',
  airport: '0',
  consolidator: '0',
  date: ''
};

var chartData = [];

function showChart()
{
  if (!chartLoaded) {
    setTimeout('showChart()', 500);

    return;
  }

  var data = google.visualization.arrayToDataTable(chartData);

{literal}
  var options = {
    hAxis: {title: 'Days',  titleTextStyle: {color: '#333'}},
    isStacked: true,
    height: 600,
    legend: {position: 'top', maxLines: 3},
    vAxis: {title: 'Bookings', minValue: 0}            
  };
{/literal}

  var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

  chart.draw(data, options);
}

function refresh()
{
  $('.a_container').html($('.loader_container').html());

  $.ajax({
    url: 'ajax_levels.php',
    method: 'post',
    data: request
  }).done(function(data) {
    var list = $($('.list_template').html());

    chartData = [['Days', 'Parked', 'In']];

    for (var dataIndex in data) {
      var listEntry = $($('.list_item_template').html());

      for (var dataProperty in data[dataIndex]) {
        listEntry.find('.data_' + dataProperty).each(function(index, element) {
          $(element).html(data[dataIndex][dataProperty]);
        });
      }

      list.find('.a_tbody').append(listEntry.find('.a_tr')[0]);

      chartData.push([data[dataIndex]['_date_formatted'], parseInt(data[dataIndex]['_start']), parseInt(data[dataIndex]['_in'])]);
    }

    $('.a_container').html('');
    $('.a_container').append(list);

    showChart();
  });
}

$(document).ready(function() {
  $('.property_refresh_check').on('change', function(event) {
    var classList = $(event.currentTarget).attr('class').split(/\s+/);
    $.each(classList, function(index, item) {
      if (item.indexOf('property_name_') === 0) {
        request[item.substr(14)] = $(event.currentTarget).attr('value');
      }
    });

    refresh();
  });

  $('.property_refresh_select').on('click', function(event) {
    var name = '';
    var value = '0';

    var classList = $(event.currentTarget).attr('class').split(/\s+/);
    $.each(classList, function(index, item) {
      if (item.indexOf('property_name_') === 0) {
        name = item.substr(14);
      }
      if (item.indexOf('property_value_') === 0) {
        value = item.substr(15);
      }
    });

    if (name != '') {
      request[name] = value;

      refresh();
    }
  });

  $('#datetimepickerHidden').datetimepicker({
    defaultDate: new Date(),
    format: 'YYYY-MM-DD'
  });

  request['date'] = $('#datetimepickerHidden').val();

  var myMoment = moment($('#datetimepickerHidden').val());
  $('#date_date').html(myMoment.format('D MMM'));

  $('#datetimepickerHidden').on('change.datetimepicker', function(event) {
    request['date'] = $('#datetimepickerHidden').val();

    var myMoment = moment($('#datetimepickerHidden').val());
    $('#date_date').html(myMoment.format('D MMM'));

    refresh();
  });

  $('#date_back').on('click', function(event) {
    var myMoment = moment($('#datetimepickerHidden').val());
    myMoment.subtract(1, 'day');
    $('#datetimepickerHidden').val(myMoment.format('YYYY-MM-DD'))

    $('#date_date').html(myMoment.format('D MMM'));

    request['date'] = $('#datetimepickerHidden').val();

    refresh();
  });

  $('#date_forw').on('click', function(event) {
    var myMoment = moment($('#datetimepickerHidden').val());
    myMoment.add(1, 'day');
    $('#datetimepickerHidden').val(myMoment.format('YYYY-MM-DD'))

    $('#date_date').html(myMoment.format('D MMM'));

    request['date'] = $('#datetimepickerHidden').val();

    refresh();
  });

  refresh();
});
</script>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-xs-6 col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-start">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" value="0" class="property_refresh_check property_name_service" checked> ALL
              </label>
{foreach from=$services item=_i key=_k}
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off" value="{$_i.id}" class="property_refresh_check property_name_service" /> {$_i.acronym}
              </label>
{/foreach}
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" value="0" class="property_refresh_check property_name_airport" checked> ALL
              </label>
{foreach from=$airports item=_i key=_k}
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off" value="{$_i.id}" class="property_refresh_check property_name_airport"> {$_i.acronym}
              </label>
{/foreach}					  

              <label class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                <input type="radio" name="options" id="option3" autocomplete="off" class="px-5"> &nbsp;
              </label>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item property_refresh_select property_name_consolidator property_value_0">All</a>
                  <div class="dropdown-divider"></div>
{foreach from=$consolidators item=_i key=_k}
                  <a href="#" class="dropdown-item property_refresh_select property_name_consolidator property_value_{$_i.id}">{$_i.acronym}</a>
{/foreach}
                </div>
            </div>
        </div>

        <div class="col-sm-4 pb-2 pb-sm-0 d-flex justify-content-md-end">
            <input type="hidden" id="datetimepickerHidden" class="datetimepicker-input"  />
            <div class="btn-group btn-group-toggle">
                <button id="date_back" class="btn btn-secondary"><i class="fas fa-step-backward"></i></button>
                <button id="date_date" class="btn btn-secondary active" data-toggle="datetimepicker" data-target="#datetimepickerHidden">Today</i></button>
                <button id="date_forw" class="btn btn-secondary"><i class="fas fa-step-forward"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-2 bg-light a_container">
  <div class="row">
    <div class="col py-3">
      <div id="chart_div"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col pb-5">
      <table class="table table-drivefly borderless text-center">
        <thead>
          <tr>
            <th class="text-left">Date</th>
            <th>Start</th>
            <th>In</th>
            <th>Out</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">29th Aug</td>
            <td>4897</td>
            <td>355</td>
            <td>607</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  
<div class="loader_container" style="display: none;">
<div class="row mx-0 py-3 text-muted border-bottom">
	<div style="margin: 0 auto; color: #777" class="text-center">
		<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		<div style="margin-bottom: 24px; font-size: 36px; line-height: 40px; font-weight: 900">One moment please</div>
		<p>We are looking for results using your criteria.</p>
	</div>
</div>
</div>

<div class="list_template" style="display: none;">
  <div class="row">
    <div class="col py-3">
      <div id="chart_div"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col pb-5">
      <table class="table table-drivefly borderless text-center">
        <thead>
          <tr>
            <th class="text-left">Date</th>
            <th>Start</th>
            <th>In</th>
            <th>Out</th>
          </tr>
        </thead>
        <tbody class="a_tbody">
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="list_item_template" style="display: none;">
  <table>
    <tbody>
          <tr class="a_tr">
            <td class="text-left data__date_formatted">29th Aug</td>
            <td class="data__start"></td>
            <td class="data__in"></td>
            <td class="data__out"></td>
          </tr>
    </tbody>
  </table>
</div>
